body {
	background-color: #dbfeff;
	font-family: "Lucida Handwriting";
}
.block_button {
	background-color: #71a9ab;
	border: 2px solid #000000;
	color: 000000;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.block_button:hover {
	background-color: #587e80;
	color: #ffffff;
}
.small_block_button {
	background-color: #71a9ab;
	border: 2px solid #000000;
	color: #000000;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.small_block_button:hover {
	background-color: #587e80;
	color: #ffffff;
}
.secondary_background {
	background-colour: #add8d9;
}
input[type=text]:not(.large_text_box) {
	outline: none;
	padding: 4px 10px;
	border: 2px solid #6d9fa1;
	background-color: #9baaab;
	color: #ffffff;
  transition: border 0.2s ease-in-out, padding 0.3s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
input[type=text]:focus:not(hover):not(.large_text_box) {
	border: 2.4px solid #5bb8ba;
	padding: 5px 18px;
	outline: none;
	color: #000000;
	background-color: #ffffff;
}

input[type=text]:hover:not(:focus):not(.large_text_box) {
	color: #616161;
	background-color: #adadad;
}
.header {
	color: #ffffff;
	background-color: #456d6e;
	margin: 0;
	padding: 0;
	width: 100%;
}
input[type=date] {
	outline: none;
	padding: 5px 12px;
	border: 2px solid #6d9fa1;
	background-color: #9baaab;
	color: #ffffff;
    transition: border 0.2s ease-in-out, padding 0.3s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
input[type=date]:focus:not(hover) {
	border: 2.4px solid #5bb8ba;
	padding: 5px 18px;
	outline: none;
	color: #000000;
	background-color: #ffffff;
}

input[type=date]:hover:not(:focus) {
	color: #616161;
	background-color: #adadad;
}
.large_text_box {
	outline: none;
	padding: 4px 10px;
	border: 2px solid #6d9fa1;
	background-color: #9baaab;
	color: #ffffff;
    transition: border 0.2s ease-in-out, height 0.5s ease-in-out, width 0.5s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	width: 140px;
	resize: none;
	height: 15px;
	border-radius: 20px;
}
.large_text_box:focus:not(hover) {
	border: 2.4px solid #5bb8ba;
	width: 80%;
	height: 50px;
	outline: none;
	color: #000000;
	background-color: #ffffff;
	resize: none;
}

.large_text_box:hover:not(:focus) {
	color: #616161;
	background-color: #adadad;
	resize: none;
}
