body {
background-color: #dbfeff;
font-family: "Lucida Handwriting";
}
.block_button {
	background-color: #71a9ab;
	border: 2px solid #000000;
	color: 000000;
}
.small_block_button {
	background-color: #71a9ab;
	border: 2px solid #000000;
	color: 000000;
}
