body {
background-color: #262626;
color: #ffffff
}
.block_button {
	background-color: #e6e3e3;
	border: 2px solid #ffffff;
}
p {
	color: #ffffff;
}
h1 {
	color: #ffffff;
}
.block_button {
	color: #000000;
}
.coloured-text {
	color:#ffffff;
}