body {
background-color: #45032e;
color: #ffffff
}
.block_button {
	background-color: #ab2e7f;
	border: 2px solid #ffffff;
}
p {
	color: #ffffff;
}
h1 {
	color: #ffffff;
}
.block_button {
	color: #ffffff;
}
.coloured-text {
	color:#ffffff;
}
label {
	color: white;
}
.small_block_button {
		background-color: #4baecc;
	border: 2px solid #000000;
	color: 000000;
}
