body {
background-color: #064647;
color: #ffffff
font-family: "Lucida Handwriting";
}
.block_button {
	background-color: #29a9ab;
	border: 2px solid #ffffff;
}
p {
	color: #ffffff;
}
h1 {
	color: #ffffff;
}
.block_button {
	color: #ffffff;
}
.coloured-text {
	color:#ffffff;
}