body {
background-color: #270440;
color: #ffffff
}
.block_button {
	background-color: #7724b3;
	border: 2px solid #ffffff;
}
p {
	color: #ffffff;
}
h1 {
	color: #ffffff;
}
.block_button {
	color: #ffffff;
}
.coloured-text {
	color:#ffffff;
}
label {
	color: white;
}