body {
background-color: #520303;
color: #ffffff
}
.block_button {
	background-color: #bd3a3a;
	border: 2px solid #ffffff;
}
p {
	color: #ffffff;
}
h1 {
	color: #ffffff;
}
.block_button {
	color: #ffffff;
}
coloured-text {
	color:#ffffff;
}