body {
	/*Background color*/
	background-color: #270440;
	/*Entire page font*/
	font-family: "Lucida Handwriting";
}
.block_button {
	/*The big button's background colour when the mouse is not hovering over them*/
	background-color: #123a3b;
	/*The colour of the line around the outside of the big buttons when the mouse is not hovering over*/
	border: 2px solid #cce0ed;
	/*The colour of the text when the mouse is not hovering over*/
	color: #edf5f5;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.block_button:hover {
	/*The colour the background will change when the mouse is hovering*/
	background-color: #68d2d4;
	/*The colour the text will change when the mouse is hovering*/
	color: #19191a;
}
.small_block_button {
	/*the colour of the small buttons background when mouse not hover*/
	background-color: #123a3b;
	/*The colour of the line around the outside of small button when mouse is not hover*/
	border: 2px solid #cce0ed;
	/*The colour of the text when mouse is not hover small button*/
	color: #edf5f5;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.small_block_button:hover {
	/*The colour of the background of the small button when mouse is hover*/
	background-color: #68d2d4;
	/*The colour of the text of small button when mouse is hover*/
	color: #19191a;
}
.secondary_background {
	/*The colour of things such as bars at the top for buttons to sit on (headers) and other stuff that needs to stand out*/
	background-colour: #387778;
}
input[type=text]:not(.large_text_box) {
	outline: none;
	padding: 4px 10px;
	/*The colour of outline of normal sized text boxes when not hovered or selected*/
	border: 2px solid #e1e5e6;
	/*The colour of the background of normal text boxes when not hovered or selected*/
	background-color: #025a5c;
	/*The colour of the text of the text box when not hovered or selected*/
	color: #edfafa;
  transition: border 0.2s ease-in-out, padding 0.3s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
input[type=text]:focus:not(hover):not(.large_text_box) {
	/*The colour the border will change when the text box is clicked on to type*/
	border: 2.4px solid #123b3b;
	padding: 5px 18px;
	outline: none;
	/*The text will change when the text box is clicked on to type (Make sure this contransts the new background colour*/
	color: #202121;
	/*The colour the background will change to when text box is clicked on*/
	background-color: #b145ff;
}

input[type=text]:hover:not(:focus):not(.large_text_box) {
	/*The colour of the text when the box is hovered, but NOT clicked*/
	color: #564e5c;
	/*The colour of the background when the box is hovered, but NOT clicked*/
	background-color: #007373;
}
.header {
	/*The text colour on the header, or the bar at the top*/
	color: #ffffff;
	/*The colour of the background of the header (Make this a different colour to the main background colour */
	background-color: #8a47ba;
	margin: 0;
	padding: 0;
	width: 100%;
}
input[type=date] {
	outline: none;
	padding: 5px 12px;
	/*The colour of the date input boxes when not clicked. (Make these values match the values of the text boxes)*/
	border: 2px solid #07dbde;
	/*The colour of the background of the date boxes when not clicked (Make these values match the text boxes*/
	background-color: #025a5c;
	/*The colour of the text when not clicked. Make this match the text boxes*/
	color: #e1f7f7;
    transition: border 0.2s ease-in-out, padding 0.3s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
input[type=date]:focus:not(hover) {
	/*The colour of the border of the date boxes when clicked on, NOT hovered, make this the same as text box */
	border: 2.4px solid #123b3b;
	padding: 5px 18px;
	outline: none;
	/*The colour of the text when clicked, NOT hovered. Make this the same as the text box */
	color: #202121;
	/*The colour of the background of date box when clicked, NOT hovered, make this the same as text box*/
	background-color: #5fe3e3;
}

input[type=date]:hover:not(:focus) {
	/*The colour of the text when the date box is hovered, NOT clicked. Make same as text box */
	color: #f0ffff;
	/*The colour of the background of date box when hovered, NOT clicked. Make same as text box*/
	background-color: #8a47ba;
}
.large_text_box {
	outline: none;
	padding: 4px 10px;
	/*The colour of the border of the big fat text box, like the one used for writing descriptions for homework, when not clicked or hovered. Make same as text box*/
	border: 2px solid #07dbde;
	/*The colour of the background of the big fat text box, like the one used for writing descriptions for homework, when not clicked or hovered. Make same as text box.*/
	background-color: #025a5c;
	/*The colour of the text of the big fat text box, like the one used for writing descriptions for homework, when not clicked or hovered. Make same as text box.*/
	color: #e1f7f7;
    transition: border 0.2s ease-in-out, height 0.5s ease-in-out, width 0.5s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	width: 140px;
	resize: none;
	height: 15px;
	border-radius: 20px;
}
.large_text_box:focus:not(hover) {
	/*The colour of the border of the big fat text box when clicked, NOT hovered. Make this the same as text box */
	border: 2.4px solid #123b3b;
	width: 80%;
	height: 50px;
	outline: none;
	/*The colour of the text of the big fat text box when clicked, NOT hovered. Make this the same as text box */
	color: #202121;
	/*The colour of the text of the big fat text box when clicked, NOT hovered. Make this the same as text box */
	background-color: #5fe3e3;
	resize: none;
}

.large_text_box:hover:not(:focus) {
	/*The colour of the text of the big fat text box when hovered. Make this the same as text box */
	color: #f0ffff;
	/*The colour of the background. Make this the same as text box when hovered */
	background-color: #8a47ba;
	resize: none;
}
h3 {
	/*Colour of big text at top. Make this the same as the paragraphs*/
	color: #e1f2f2;
}
.header {
	/*Another tag to define the colour of the header backgrounds at the top where the buttons are*/
	background-color: #387778;
}
h2 {
	/*The colour of the text of big fat text at top. Make same as paragraphs*/
	color: #e1f2f2;
}
.input_box {
	/*The colour of the border around... idk actually. Just make this the same as the border of text boxes when not hovered*/
	border: 2px solid #ccdbdb;
	/*The colour of the background of... again idk, so just make it the same as the text boxes*/
	background-color: #025a5c;
}
.input_message {
	outline: none;
	padding: 4px 10px;
	/*The colour of the big box in the message GUI. Make this the same as regular text boxes*/
	border: 2px solid #ccdbdb;
	/*The colour of the big box used in the message GUI. Make this the same as regular text boxes*/
	background-color: #025a5c;
	/*The colour of the text in big box in message GUI. Make this the same as regulr text boxes*/
	color: #e1f7f7;
  transition: border 0.2s ease-in-out, padding 0.3s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out, width 0.2s ease-in-out;
}
.input_message:focus:not(hover) {
	/*The colour of the border of big fat box in message GUI when CLICKED ON. Make this the same as the text boxes when clicked on*/
	border: 2.4px solid #123b3b;
	outline: none;
	/*The colour of the text in big fat box in message GUI when CLICKED ON. Make this the same as the text boxes when clicked on*/
	color: #202121;
	/*The colour of the background of big fat box in message GUI when CLICKED ON. Make this the same as the text boxes when clicked on*/
	background-color: #5fe3e3;
	width: 76%;
}

.input_message:hover:not(:focus) {
	/*The colour of the text of the big fat box in message GUI when HOVERED. Make this the same as the text boxes when HOVERED*/
	color: #f0ffff;
	/*The colour of the background of the big fat box in message GUI when HOVERED. Make this the same as the text boxes when HOVERED*/
	background-color: #8a47ba;
}
p {
	color: #e1f2f2;
}
h1 {
	color: #e1f2f2;
}
.homework_div {
	border: 2px solid white;
}
label {
	color: white;
}
