body {
background-color: #45032e;
color: #ffffff
}
.block_button {
	background-color: #ab2e7f;
	border: 2px solid #ffffff;
}
p {
	color: #ffffff;
}
h1 {
	color: #ffffff;
}
block_button {
	color: #ffffff;
}